.ItemSearch{
    margin: auto;
    margin-top: 20px;
    width: 30%;
    max-height: 1100px;
    
}
.d-flex{
    margin: auto;
    
}
.form-control{
    height: 50px;
   width: 100%;
    
}

.Logo{
    display: flex;
    max-width: 30%;
    top: 20px;
    left: 50px;
    display: flex;
}

.Logo a {
    font-weight: 700;
    text-decoration: none;
    font-size: 40px;
}

.FlexHeader{
    margin-top: 50px;
    margin-left: 50px;
    width: 100%;
    display: flex;
    position:relative;
    max-width: 1400px;

}

.btnfavorite{
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    bottom: 1px;
}

.buttonSearh{
    text-decoration: none;
}

.btn{
    margin: 3px;
}

.buttonMore{
    
    margin: auto;
}
